$green: #00CC00;
$red: #FF0000;

.center {
  text-align: center;
  float: inherit;
}

.right {
  text-align: right;
  float: right;
}

.left {
  text-align: left;
  float: left;
}

.success {
  padding-left: 20px;
  color: $green;
  margin: 0 auto;
  text-align: center;
}

.notice {
  padding-left: 20px;
  color: $green;
  margin: 0 auto;
  text-align: center;
}

.error {
  padding-left: 20px;
  color: $red;
  margin: 0 auto;
  text-align: center;
}

.alert {
  padding-left: 20px;
  color: $red;
  margin: 0 auto;
  text-align: center;
}

.ui-icon-play {
  color: $green;
  background: url('images/play.png') 50% 50% no-repeat;
}

.ui-icon-stop {
  color: $red;
  background: url('images/stop.png') 50% 50% no-repeat;
  background-size:  20px 20px;
}

label {
  font-weight: bold;
  font-size: 16px;
  display: inline;
}

.app-name {
  font-weight: bold;
  font-size: 24px;
  padding-left: 5px;
}

input, textarea {
  height: 24px;
  width: 300px;
  border: 1px solid #ccc;
  font-size: 16px;
}

select {
  height: 34px;
  background: transparent;
  padding: 5px;
  font-size: 16px;
  border: 1px solid #ccc;
}

input, textarea {
  height: 24px;
  width: 300px;
  border: 1px solid #ccc;
  font-size: 16px;
}

select {
  height: 34px;
  background: transparent;
  padding: 5px;
  font-size: 16px;
  border: 1px solid #ccc;
}