<% title "add task" %>

<%= form_tag :action => "create" do %>
    <%= render 'form' %><br/><br/><br/><br/><br/><br/><br/>
    <div align="center" class="actions">
      <%= submit_tag "Create Task", :class => "btn btn-primary btn-large" %>
    </div>
<% end %>

