<% title "add task" %>

<%= form_tag :action => "create" do %>
    <div align="right">
        <%= link_to 'Add start and end times', new_task_path(@task), :"data-role" => "button", 'data-inline'=>"true", 'data-theme'=>"b" %>
    </div>
    <%= render 'form' %>
    <div class="actions">
      <%= submit_tag "Create Task", :class => "button" %>
    </div>
<% end %>

