<div class="groups ui-tabs-nav ui-widget-header ui-corner-all">
  <div align="center" class="group_title"><%= link_to 'my groups', groups_path %></div><hr/>
  <% user_groups = get_user_groups
     if user_groups.count > 0 %>
      <% user_groups.each do |group| %>
          <div align="center"><%= link_to group.name, edit_group_path(group) %></div>
      <% end %>
  <% else %>
      <div align="center">You are not part<br/>of any groups.</div>
  <% end %><br />
  <hr/><div align="center" class="group_title"><%= link_to 'add new group', new_group_path %></div>
</div>