<li><%= link_to 'add new group', new_group_path %></li>
<li><%= link_to 'analyze group tasks', analyze_group_tasks_path %></li>
<li class="divider"></li>
<li><%= link_to 'my group listings↓', groups_path %></li>
<% if user_groups.count > 0 %>
    <% user_groups.each do |group| %>
        <li><em><%= link_to group.name, edit_group_path(group) %></em></li>
    <% end %>
<% else %>
    <li>You are not part<br/>of any groups.</li>
<% end %>