<div>A simple task management application to better manage your time which would help make your life easier. Time Tien
  is designed to track both your professional as well as personal tasks all in one place.
</div>
<p></p>
<div id="timetien_features" class="carousel">
  <div class="carousel-inner">
    <div class="active item"><%= image_tag "tags.png", :width => 700 %></div>
    <div class="item"><%= image_tag "tasks.png", :width => 700 %></div>
    <div class="item"><%= image_tag "analyze.png", :width => 700 %></div>
    <div class="item"><%= image_tag "projects.png", :width => 700 %></div>
  </div>
  <!-- Carousel nav -->
  <a class="carousel-control left" href="#timetien_features" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#timetien_features" data-slide="next">&rsaquo;</a>
</div>


