@import "layout";

.list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.list li {
  margin: 4px;
  padding: 0.4em;
  border-bottom: 3px #CCCCCC solid;
}

.list_text {
  font-weight: normal;
  font-color: $green;
}

.search_criteria {
  float: left;
  padding: 10px;
}

.search_result {
  float: left;
}

.search {
  @extend .button;
  background: $background;
  width: 80px;
}

.analyze-left {
  margin-left:-30px;
  width:180px;
  border-right: 1px #CCCCCC solid;
}

.analyze-right {
  margin-left:250px;
}

.current {
  font-weight: bold;
  color: #eff2f5;
}

.summary_title {
  font-weight: bold;
  font-size: medium;
  text-decoration: underline;
}

div.graph {
  width: 400px;
  height: 400px;
}