$black: #2C2C2C;
$white: #FBFBFB;
$yellow: #FFD80F;
$green: #00CC00;
$hover: #44cc9c;
$red: #FF0000;
$blue: #053799;
$lightblue: #054bd4;
$background: #f7f3de url(images/ui-bg_fine-grain_15_f7f3de_60x60.png) 50% 50% repeat;
$font-family: arial, Helvetica, sans-serif, verdana;

@mixin rounded-corners($radius){
  border-radius: $radius;
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
}

@mixin links($color){
  a {
    color: $color;
    font-size: 16px;
    text-decoration: none;
    &:hover {
      background-color: none;
      color: $hover;
    }
  }
}

@mixin layout {
  background-color: #FFF;
  font-family: $font-family;
  font-size: 14px;
}

@mixin message($color, $background_color){
  width: 680px;
  border: 1px solid $color;
  color: $color;
  padding: 10px;
  background-color: $background_color;
  text-align: left;
  padding: 8px;
  font-size: 16px;
  @include rounded-corners(3px);
}

body {
  margin: 0;
  padding: 0;
  background-color: #fbfbfb;
}

#main {
  @include layout;
  margin-left: auto;
  margin-right: auto;
  font-family: $font-family;
  color: #4e4e4e;
  font-size: 14px;
  background-color: #fbfbfb;
  padding: 30px 70px 70px;
  width: 700px;
  height: 100%;
  h2 {
    font-size: 20px;
    padding-bottom: 10px;
  }
  p.notice {
    color: #66CC66;
    font-size: 14px;
    font-weight: bold;
  }
  p.alert {
    color: #f13b16;
    font-size: 14px;
    font-weight: bold;
  }
  @include links($lightblue);
}

.btn-link {
  @include links($black);
}

.login-screen {
  font-size: 16px;
}

label {
  font-weight: bold;
  color: #4e4e4e;
  font-size: 16px;
  display: inline;
}

.app-name {
  font-weight: bold;
  font-size: 24px;
  color: $yellow;
  padding-left: 5px;
}

input, textarea {
  height: 24px;
  width: 300px;
  border: 1px solid #ccc;
  font-size: 16px;
  @include rounded-corners(3px);
}

select {
  height: 34px;
  background: transparent;
  background-color: $white;
  padding: 5px;
  font-size: 16px;
  border: 1px solid #ccc;
  @include rounded-corners(3px);
}

.checkbox {
  height: 20px;
  width: 20px;
  display: inline;
}

.button {
  height: 34px;
  background: $background;
  color: $black;
  border: 1px solid #dedede;
  font-family: $font-family;
  font-weight: bold;
  font-size: 16px;
  padding: 7px 25px 7px 25px;
  cursor: pointer;
  width: 80px;
  &:hover {
    color: $hover;
  }
  @include rounded-corners(3px);
  background-repeat: no-repeat;
}

.delete_short {
  padding: 12px 8px 10px 10px;
  background-repeat: no-repeat;
  background-image: url('images/cancel.png');
  background-size: 18px;
  background-position: center left;
}

.edit_short {
  padding: 2px 8px 2px 8px;
  background-repeat: no-repeat;
  background-image: url('images/edit.png');
  background-size: 16px;
  background-position: center left;
}

.title {
  font-size: 18px;
  font-weight: bold;
  color: rgba(64, 64, 64, 0.98);
  hr {
    border: 0;
    background-color: #9E9E9E;
    heignt: 1px;
  }
}

.right {
  float: right;
}

.center {
  float: center;
  text-align: center;
  padding: 20px;
}

.error {
  @include message($red, #f2dede);
  div.error_message {
    font-size: 16px;
  }
}

#error_explanation {
  @include message($red, #f2dede);
  h2 {
    font-size: 16px;
    margin-bottom: -10px;
  }
  ul {
    list-style-type: none;
  }
}

.alert {
  @include message($red, #f2dede)
}

// delete when you remove testing message
.alert2 {
  @include message($red, #f2dede)
}

.success {
  @include message($green, #dff0d8)
}

.info {
  @include message(#C09853, #fff29b)
}

.notice {
  color: #66CC66;
  font-size: 15px;
}

.error_message {
  padding-left: 20px;
  font-size: 12px;
  color: $red;
}

hr {
  border: none;
  border-top: 1px #CCCCCC solid;
  height: 2px;
}

.datetime {
  width: 160px;
}

.ui-multiselect {
  width: 30px;
}

.intro {
  vertical-align: top;
}

#footer {
  @include links($black);
  padding: 5px;
  text-align: center;
  position: fixed;
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: $white;
  left: 0px;
  bottom: 0px;
  color: $white;
  height: 30px;
  width: 100%;
}

#invite {
  padding-left: 3px;
  padding-right: 3px;
  background-color: $white;
  color: $black;
  font-weight: bold;
}

.tab-header {
  font-weight: bold;
  font-size: 16px;
}

.ui-datepicker-trigger {
  height: 16px;
  padding-left: 5px;
}

.gravatar {
  width: 20px;
  height: 20px;
}

.multiselect-item {
  display: inline;
  padding-right: 20px;
  padding-bottom: 20px;
}

.menu-center {
  align: center;
  font-weight: bold;
  text-decoration: underline;
}

.login {
  color: #fbfbfb;
  font-weight: bold;
  border-color: #fbfbfb;
}
