@import "layout";

#tabs {
  font-size: 12px;
}

.play {
  @extend .button;
  width: 3000px;
  font-size: 18px;
  color: $green;
  background-color: #d8dbc6;
  background-image: url('images/play.png');
  background-size: 30px;
  background-position: center left;
}

.stop {
  height: 34px;
  width: 150px;
  padding: 2px 20px 2px 30px;
  background: #f7f3de;
  border: 1px solid #dedede;
  text-decoration: none;
  font-family: $font-family;
  font-size: 16px;
  color: $black;
  &:hover {
    background-color: $white;
  }
  a {
    &:hover {
      color: $yellow;
    }
  }
  @include rounded-corners(3px);
  background-repeat: no-repeat;
  margin: 2px;
  background-image: url('images/stop.png');
  background-size: 20px;
  background-position: center left;
}

.cb-enable, .cb-disable, .cb-enable span, .cb-disable span {
  background: url(images/switch.gif) repeat-x;
  display: block;
  float: left;
}

.cb-enable span, .cb-disable span {
  line-height: 30px;
  display: block;
  background-repeat: no-repeat;
  font-weight: bold;
}

.cb-enable span {
  background-position: left -90px;
  padding: 0 10px;
}

.cb-disable span {
  background-position: right -180px;
  padding: 0 10px;
}

.cb-disable.selected {
  background-position: 0 -60px;
}

.cb-disable.selected span {
  background-position: right -240px;
  color: #fff;
}

.cb-enable.selected {
  background-position: 0 -60px;
}

.cb-enable.selected span {
  background-position: left -150px;
  color: #fff;
}

.switch label {
  cursor: pointer;
}

.switch input {
  display: none;
}