<% title "about" %>
<div class="right"><%= link_to 'return home', root_url, "data-role" => "button", "data-inline" => "true", "data-icon" => "home"  %></div>
<p>&nbsp;</p>
<p>TimeZen was designed to better manage your time thus helping you to better
manage your life. The goal of TimeZen is to make it really simple to log in time
that you care about, so you can keep track of all the things important to you.</p>

<p>TimeZen helps you set a target for each task that will help you analyze your time
usage to better manage your time.</p>