<% title "about" %>
<p>TimeZen was designed to better manage your time thus helping you to better
  manage your life. The goal of TimeZen is to make it really simple to log in time
  that you care about, so you can keep track of all the things important to you.</p>

<p>TimeZen helps you set a target for each task that will help you analyze your time usage to
  better manage your day.</p>

<p>You can set groups for all your team members or friends to track usage of tasks common to
all your group members.</p>
<%= link_to 'return home', new_user_session_path, "data-role" => "button", "data-icon" => "home" %>