// Place all the styles related to the Groups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "layout";

.list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.list li {
  margin: 4px;
  padding: 0.6em;
}

.list_text {
  font-weight: normal;
  font-color: $green;
}

.search_criteria {
  float: left;
  position: absolute;
  padding: 20px;
  border: 1px solid #9E9E9E;
}

.search {
  @extend .button;
  background: $background;
  width: 80px;
}

.content_left {
  padding: 10px;
  margin-left: -320px;
  width: 100px;
}

.content_right {
  margin-left: 0px;
}

.content_center {
  margin-left: 100px;
  margin-top: 50px;
  .search_criteria {
    padding: 40px 100px;
  }
}

.current {
  font-weight: bold;
  color: #eff2f5;
}