// Place all the styles related to the Tags controller here.
// They will automatically be included in application.css.scss.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/

$black: #3D3D3D;
$white: #FFFFFF;
$yellow: #FF9900;
$green: #00CC00;
$red: #FF0000;
$background: #f7f3de url(jquery_ui_theme/images/ui-bg_fine-grain_15_f7f3de_60x60.png) 50% 50% repeat;
$font-family: "Helvetica Neue", Helvetica, "Trebuchet MS", Arial, Helvetica, sans-serif;

@mixin rounded-corners($radius){
  border-radius: $radius;
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
}

@mixin links($color){
  a {
    color: $color;
    font-size: 16px;
    text-decoration: none;
    &:hover {
      background-color: none;
      color: $yellow;
    }
  }
}

@mixin layout {
  background-color: #FFF;
  font-family: verdana;
  font-size: 14px;
}

@mixin message($color, $background_color){
  width: 680px;
  border: 1px solid $color;
  color: $color;
  padding: 10px;
  background-color: $background_color;
  text-align: left;
  padding: 8px;
  font-size: 16px;
  @include rounded-corners(3px);
}

body {
  margin: 0;
  padding: 0;
  background-color: #fff;
}

#main {
  @include layout;
  margin-left: auto;
  margin-right: auto;
  width: 700px;
  padding: 8px;
  font-family: $font-family;
  font-size: 14px;

  h2 {
    font-size: 20px;
    padding-bottom: 10px;
  }
  p.notice {
    color: #66CC66;
    font-size: 14px;
    font-weight: bold;
  }
  p.alert {
    color: #f13b16;
    font-size: 14px;
    font-weight: bold;
  }
  @include links($black);
}

label {
  font-weight: bold;
  font-size: 16px;
  display: inline;
}

.app-name {
  font-weight: bold;
  font-size: 24px;
  color: $yellow;
  padding-left: 5px;
}

input, textarea {
  height: 24px;
  width: 300px;
  border: 1px solid #ccc;
  font-size: 16px;
  @include rounded-corners(3px);
}

select {
  height: 34px;
  background: transparent;
  background-color: $white;
  padding: 5px;
  font-size: 16px;
  border: 1px solid #ccc;
  @include rounded-corners(3px);
}

.checkbox {
  height: 20px;
  width: 20px;
  display: inline;
}

.button {
  height: 34px;
  background: $background;
  color: $black;
  border: 1px solid #dedede;
  font-family: $font-family;
  font-weight: bold;
  font-size: 16px;
  padding: 5px 25px 5px 25px;
  cursor: pointer;
  &:hover {
    color: $yellow;
  }
  @include rounded-corners(3px);
  background-repeat: no-repeat;
}

.linkbutton {
  height: 34px;
  background: $background;
  color: $black;
  border: 1px solid #dedede;
  font-family: $font-family;
  font-weight: bold;
  font-size: 16px;
  padding: 8px 25px 2px 25px;
  margin-bottom: 5px;
  cursor: pointer;
  &:hover {
    color: $yellow;
  }
  @include rounded-corners(3px);
  background-repeat: no-repeat;
}

.delete_short {
  padding: 12px 8px 10px 10px;
  background-repeat: no-repeat;
  background-image: url('cancel.png');
  background-size: 18px;
  background-position: center left;
}

.edit_short {
  padding: 2px 8px 2px 8px;
  background-repeat: no-repeat;
  background-image: url('edit.png');
  background-size: 16px;
  background-position: center left;
}

.title {
  font-size: 18px;
  hr {
    border: 0;
    background-color: #9E9E9E;
    heignt: 1px;
  }
}

.right {
  float: right;
}

.center {
  float: center;
  text-align: center;
  padding: 20px;
}

.error {
  @include message($red, #f2dede);
  div.error_message {
    font-size: 16px;
  }
}

#error_explanation {
  @include message($red, #f2dede);
  h2 {
    font-size: 16px;
    margin-bottom: -10px;
  }
  ul {
    list-style-type: none;
  }
}

.alert {
  @include message($red, #f2dede)
}

.success {
  @include message($green, #dff0d8)
}

.info {
  @include message(#C09853, #fff29b)
}

.notice {
  color: #66CC66;
  font-size: 15px;
}

.error_message {
  padding-left: 20px;
  font-size: 12px;
  color: $red;
}

hr {
  border: none;
  border-top: 1px #CCCCCC solid;
  height: 2px;
}

.datetime {
  width: 160px;
}

.ui-multiselect {
  width: 30px;
}

.intro {
  vertical-align: top;
}

#footer {
  @include links($black);
  padding: 10px;
  text-align: center;
  position: fixed;
  left: 0px;
  bottom: 0px;
  height: 30px;
  width: 100%;
}

#invite {
  padding-left: 3px;
  padding-right: 3px;
  background-color: $yellow;
  color: $black;
  font-weight: bold;
}

.tab-header {
  font-weight: bold;
  font-size: 16px;
}

.ui-datepicker-trigger {
  height: 16px;
  padding-left: 5px;
}

.gravatar {
  width: 20px;
  height: 20px;
}

.multiselect-item {
  display: inline;
  padding-right: 20px;
  padding-bottom: 20px;
}
